:root{
    --color-contrast-back: #02A28F;
    --color-base1: #fff;
    --color-base2: #000;
    --color-contrast-text: #616161; 
    --color-shadow: rgba(97, 97, 97, 0.192);  
}

*{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.container{
    background-color: var(--color-contrast-back);
    color: var(--color-base1);
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin-bottom: 0.75rem;
    display: flex;
    align-items: center;
}

.shadow{
    box-shadow: 0 0.75rem 1rem var(--color-shadow); 
}

h1{
    font-size: 2.25rem;
    font-weight: 900;
    margin-left: 4rem;
}

h2{
    font-size: 2rem;
    font-weight: 600;
}

h3{
    font-size: 1.25rem;
    font-weight: 800;
}

h4{
    font-size: 0.875rem;
    font-weight: 600;
}

header{
    margin-bottom: 2rem;
    padding: 1rem 0rem 1rem 8rem;
    background-color: var(--color-contrast-back);
    color: var(--color-base1);
}

main{
    display: grid;
    grid-template-columns: 75% 25%; 
    grid-template-rows: auto;
    gap: 1.5rem;
    padding: 0rem 2rem;
    margin: 0 9.75rem;
    
}
    

#banner{

    background-image: url(./assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
    color: var(--color-base1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 25rem;
    border-radius: 1rem;
}

#recentPost{
    grid-area: 2/ 1;
}

.recentPostTitle{
    justify-content: space-between;
}

.recentPostTitle > a{
    color: var(--color-base1);
    font-size: 0.9rem;
    
}


#posts{
    display: grid;
    grid-template-columns: 50% 50%;  

}

.card{
    margin: 0.75rem 1rem 1rem;
    border-radius: 1rem;  
    
}

.card > img{
    width: 100%;    
}

.cardInfo{
    padding: 0.5rem 1rem 1rem 1rem;    
    border-radius: 0rem 0rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 12rem
}

.cardCategories{
    color: var(--color-contrast-back);

}

.popularCard{
    display: flex;
    border-radius: 1rem;
    margin: 1.25rem 0;
    padding: 0.75rem;
}

.popularCard > div{
    margin-left: .75rem;

}

.popularCard > div > p{
    font-size: 0.75rem;
}

ul{
    color: var(--color-contrast-text);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}

li{
    list-style-type:none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .875rem 0;
}

li > a{
    color: var(--color-contrast-text);
    text-decoration: none;    
}

li ::before{
    content: '>';
    margin-right: 0.3rem;
}

footer{
    background-color: var(--color-contrast-back);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-base1);
    font-weight: 400;
    margin-top: 4rem;
}


@media only screen and (max-width: 767px) {

    header{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0rem 1rem 1rem
    }

    h1{
        margin-left: 0;
    }

    main{
        grid-template-columns: 100%;
        margin: 0;
    }

    #posts{
        grid-template-columns: 100%;
    }
    
}