:root{
    --color-contrast-back: #02A28F;
    --color-base1: #fff;
    --color-base2: #000;
    --color-contrast-text: #616161; 
    --color-shadow: rgba(97, 97, 97, 0.192);  
}

*{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.container{
    background-color: var(--color-contrast-back);
    color: var(--color-base1);
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin-bottom: 0.75rem;
    display: flex;
    align-items: center;
}

.shadow{
    box-shadow: 0 0.75rem 1rem var(--color-shadow); 
}

h1>a{
    font-size: 2.25rem;
    font-weight: 900;
    margin-left: 4rem;
    color: var(--color-base1);
    text-decoration: none;
}

h2{
    font-size: 2rem;
    font-weight: 600;
}

h3{
    font-size: 1.25rem;
    font-weight: 800;
}

h4{
    font-size: 0.875rem;
    font-weight: 600;
}
a:focus-visible{
    outline: 2px solid var(--color-contrast-back);
    outline-offset: 4px;
    border-radius: 6px;

}

header{
    margin-bottom: 2rem;
    padding: 1rem 0rem 1rem 8rem;
    background-color: var(--color-contrast-back);
    color: var(--color-base1);
}

main{
    display: grid;
    grid-template-columns: 60% 40%; 
    grid-template-rows: auto;
    gap: 1.5rem;
    padding: 0rem 2rem;
    margin: 0 6.75rem;
    
}
    

#banner{

    background-image: url(./assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
    color: var(--color-base1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 25rem;
    border-radius: 1rem;
}

#recentPost{
    grid-area: 2/ 1;
}

.recentPostTitle{
    justify-content: space-between;
}

.recentPostTitle > a{
    color: var(--color-base1);
    font-size: 0.9rem;
    
}

.recentPostTitle > a:focus-visible{
    outline: 2px solid var(--color-base1);
}


#posts{
    display: grid;
    grid-template-columns: 50% 50%;  

}

.card{
    margin: 0.75rem 1rem 1rem;
    border-radius: 1rem;  
    
}

.card > img{
    width: 100%;    
}

.cardInfo{
    padding: 0.5rem 1rem 1rem 1rem;    
    border-radius: 0rem 0rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
}

.cardCategories{
    color: var(--color-contrast-back);

}

.cardCategories{
        margin: .75rem 0;
}

.cardInfo > p{
        margin: .75rem 0;
}

.popularCard{
    border-radius: 1rem;
}

.popularLinks{
    display: flex;
    color: var(--color-base2);
    text-decoration: none;
    margin: 1.25rem 0;
    padding: 0.75rem;
    
}

.popularLinks > div{
    margin-left: .75rem;

}

.popularLinks> div > p{
    font-size: 0.75rem;
}

ul{
    color: var(--color-contrast-text);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
}

li{
    list-style-type:none;
    margin: .875rem 0;
    display: flex;
    align-items: center;
}

li > a{
    color: var(--color-contrast-text);
    text-decoration: none; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 0.25rem 0.25rem; 
}

li > span{
    text-align: right;
    min-width: 2ch;
}


li::before{
    content: '>';
    margin-right: 0.3rem;
    flex-shrink: 0;
    display: inline-block;
    width: 1ch;
    text-align: center;
}

footer{
    background-color: var(--color-contrast-back);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-base1);
    font-weight: 400;
    margin-top: 4rem;
}


@media only screen and (max-width: 969px) {

    header{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0rem 1rem 1rem
    }

    h1{
        margin-left: 0;
    }

    main{
        grid-template-columns: 100%;
        margin: 0;
    }

    #posts{
        grid-template-columns: 100%;
    }
    
    .cardInfo{
        height: auto;
    }

    .cardCategories{
        margin: .5rem 0;
    }

    .cardInfo > p{
        margin: .5rem 0;
    }
}

@media only screen and (min-width:970px) and (max-width: 1023px){
    main{
        grid-template-columns: 60% 40%;
        margin: 0 1.75rem;
        padding: 0rem;
    }
}

@media only screen and (min-width:1024px) and (max-width: 1470px){
    main{
        grid-template-columns: 70% 30%;
        margin: 0 2.5rem;
        padding: 0rem;
    }
    

}


@media only screen and (min-width: 1470px){

    main{
        grid-template-columns: 75% 25%;
    }

}